body{
    margin: 0;
    padding: 0;
}

.background{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: "top top top top"
                         "l1 navbar navbar r1"
                         "space1 space space space2"
                         "l2 photo text r2"
                         "l3 social social r3"
                         "l4 l5 r4 r5";
    grid-template-columns: 25% 15% 1fr 25%;
    grid-template-rows: 10% 5% 5% 1fr 1fr 5%;
    height: 100vh;
    background-color: #EEEDE9;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}

/* Nav Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navbar{
    display: inline;
    margin: 0;
    grid-area: navbar;
    white-space: nowrap;
    justify-self: center;
}

.navbar li {
    list-style-type: none;
    padding: 5px;
    font-size: 1em;
    display: inline-block;
}

li a {
    display: inline-block;
    color: #B99F92;
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}

#active-page{
    color: #554348;
}

/* About Me
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.aboutme{
    grid-area: text; 
}

#profpic{
    grid-area: photo;
    border-radius: 50%;
    max-width: 2in;
    min-width: 2in;
    height: auto;
    justify-self: center;
}

.body {
    font-size: 1em;
    line-height: 1.5;
}

.navbar,
.body {
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

#active-page{
    color: black;
}

/* Social Medias
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.SocialMedia{
    grid-area: social;
    display: inline;
    justify-self: center;
    margin: 1vh;
}

.socialbutton{
    max-width: 3vw;
    padding: 3vw;
    opacity: 50%;
}

.socialbutton:hover{
    opacity: 100%;
}

/* Responsiveness
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 700px) {
  .grid {
    grid-template-areas: "top top top top"
                         "l1 navbar navbar r1"
                         "space1 photo photo space2"
                         "l2 text text r2"
                         "l3 social social r3"
                         "l4 l5 r4 r5";
  }
}