body{
    margin: 0;
    padding: 0;
}

.background{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: "top top top top"
                         "l1 navbar navbar r1"
                         "space space space space"
                         "l2 photo text r2"
                         "l3 social social r3"
                         "l4 l5 r4 r5";
    grid-template-columns: 25% 1fr 1fr 25%;
    grid-template-rows: 15% 1fr 5% 1fr 1fr 5%;
    height: 100vh;
    background-color: #EEEDE9;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}

.navbar{
    margin: 0;
    padding: 0;
    display: inline;
    grid-area: navbar;
    justify-self: center;
}

.navbar li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: inline;
}

li a{
    display: inline-block;
    color: #B99F92;
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
}

li a:hover{
    background-color: white;
}

.aboutme{
    grid-area: text; 
}

#profpic{
    grid-area: photo;
    border-radius: 50%;
    max-width: 2in;
    min-width: 2in;
    height: auto;
    justify-self: center;
}

.body {
    font-size: 0.8em;
    line-height: 1.5;
}

.navbar,
.body {
    font-family: 'Montserrat', sans-serif;
}

.SocialMedia{
    
}