*{
    margin: 0;
    padding: 0;
}

#background{
    display: grid;
    grid-template-areas: "b1 b2 b3"
                        "b4 center b5"
                        "b6 b7 b8";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 80% 10%;
    height: 100vh;
    background-color: #EEEDE9;
    background-position: center;
    background-size: cover;
    overflow-x: hidden; 
    position: relative;
}

.blob {
    animation: float1 5.5s ease-in-out infinite;
    opacity: 0.9;
    max-height: 28vw;
    max-width: auto;
    position: absolute;
}

#blob1{
    grid-area: center;
    animation: float1 5.5s ease-in-out infinite;
    opacity: 0.9;
    max-height: 28vw;
    max-width: auto;
    justify-self: center;
    align-self: center;
}

#blob2{
    grid-area: center;
    animation: float2 4.5s ease-in-out infinite;
    opacity: 0.9;
    max-height: 32vw;
    max-width: auto;
    justify-self: center;
    align-self: center;
    left: 10%;
}

#name{
    text-align: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    color: white;
    font-family: Calisto MT, serif;
    font-size: 3.5vw;
    z-index: 1;
    grid-area: center;
    /*font-family: 'Kumbh Sans';*/
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
}

#name:hover{
    color: #554348;
}

a:link{
    text-decoration: none;
}

.instructions{
    display: inline;
    grid-area: b7;
    text-align: center;
    color: #B99F92;
    font-family: 'Montserrat', sans-serif;
/*    text-shadow: 0.5px 0.5px 1px black;*/
}

@keyframes float1 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes float2 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(18px);
	}
	100% {
		transform: translatey(0px);
	}
}

