*{
    margin: 0;
    padding: 0;
}

.background{
    display: grid;
    grid-template-columns: repeat(100, 1%);
    grid-template-rows: repeat(100, 1%);
    height: 100vh;
    background-color: #EEEDE9;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}

#blob1{
    grid-column-start: 25;
    grid-column-end: 90;
    grid-row-start: 25;
    grid-row-end: 75;
    max-height: 100%;
    max-width: 100%;
    animation: float1 5.5s ease-in-out infinite;
    opacity: 0.9;
}

#blob2{
    grid-column-start: 47;
    grid-column-end: 85;
    grid-row-start: 20;
    grid-row-end: 75;
    max-height: 100%;
    max-width: 100%;
    animation: float2 4.5s ease-in-out infinite;
    opacity: 0.9;
}

#name{
    text-align: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    color: white;
    font-family: Calisto MT, serif;
    font-size: 3vw;
    z-index: 1;
    grid-column-start: 35;
    grid-column-end: 70;
    grid-row-start: 40;
    grid-row-end: 48;
}

a:link{
    text-decoration: none;
}

@keyframes float1 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes float2 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(18px);
	}
	100% {
		transform: translatey(0px);
	}
}

