html, body {
    height: 100%
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: "headerFont"
    src: url('bebas.ttf') format("truetype");
}

#bodyy{
    background-image: url(../images/compressedbridge.jpg);
    background-size: cover;
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

#test{
    display: block;
    color: white;
    text-align: center;
    font-family: bebas;
    font-size: 130pt;
    margin-top: 10%;
    margin-bottom: 10%;
    text-shadow: 2px 2px 2px black;
}

#opaqueBackground {
    opacity: 0.5;
    z-index: -1;
}

div.profimage {
    margin: auto;
    width: 80em;
    position: absolute;
    top: 102%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aboutpage{
    position: relative;
    text-align: center;
    color: white;
}

.aboutbodyparagraph{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15%;
    margin-bottom: 15%;
}

#navbar {
    font-family: bebas;
    overflow: hidden;
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 100;
}

.navbar a:hover{
    background-color: lightblue;
}

#aboutheader {
    align-self: center;
}

#typewriter {
    text-align: center;
    z-index: -100;
}

#archeryphoto{
    width: 100%;
}

#violinphoto{
    width: 100%;
}

#personalheader{
    font-family: bebas;
    font-size: 80px;
    color: black;
    margin-top: 70px;
    margin-bottom: 20px;
}

.parallaxcontainer{
    margin: 0;
    font-size: 15px;
    padding: 0px;
}

.archeryparallax{
    background: url('../images/archerycompressed.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    box-shadow: inset 0 0 1em #111;
}

.violinparallax{
    background: url('../images/violin2.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    box-shadow: inset 0 0 1em #111;
}

.graphicparallax{
    display: block;
    background-color: #BCD2ED;
    padding-left: 12%;
    margin-top: 2%;
    padding-top: none;
}

#archeryvideo{
    width: 420px;
    text-align: center;
    padding-left: 33%;
    padding-right: auto;
}

#avideotext{
    margin-left: 33%;
    margin-right: auto;
    font-family: times new roman;
    font-size: 20px
}

.violinvides{
    width: 420px;
    height: auto;
    position: relative;
    margin: auto;
    float: left;
    overflow: hidden;
}

#orchestravideo{
    width: 420px;
    float: left;
    text-align: center;
    margin-left: 15%;
    overflow: hidden;
}

#orchvidtext{
    font-family: times new roman;
    font-size: 20px
}

#quintetvideo{
    width: 420px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

#quintetvidtext{
    font-family: times new roman;
    font-size: 20px  
}

ul:nth-of-type(1) {
  list-style-type: disc;
}

#personalarcheryheader{
    font-family: bebas;
    font-size: 30px;
    margin-left: 3%;
}

#archerytext{
    font-family: times new roman;
    font-size: 20px;
}

#personalviolinheader{
    font-family: bebas;
    font-size: 30px;
    margin-left: 3%;
}

#violintext{
    font-family: times new roman;
    font-size: 20px;
}

#gdheader{
    font-family: bebas;
    font-size: 30px;
    margin-left: 3%;
    display: block;
}

#gdlink{
    font-family: times new roman;
    font-size: 20px;
    color: black;
    margin-top: 10px;
    padding-bottom: 90px;

}

#gdtext{
    font-family: times new roman;
    font-size: 20px;
    display: block;
}

#gdtext a:hover{
    background-color: beige;
}


.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: lightsteelblue;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}


.linkbar {
    font-family: bebas;
    overflow: hidden;
    background-color: gainsboro;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar to the bottom of the page */
    width: 100%; /* Full width */
    z-index: 100;
}

/* Links inside the navbar */
.linkbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.linkbar a:hover{
    background-color: #FFEC8B;
}

/* contact me form css */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: lightsteelblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker color */
input[type=submit]:hover {
    background-color: cornflowerblue;
}

/* Add a background color and some padding around the form */
.contactmeform {
    margin-top: 1%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: times new roman;
    font-size: 13pt;
}
